# Build and IDE folders
bin/
obj/
.vs/
*.user
*.suo
*.cache
*.db

# Logs
*.log

# Visual Studio artifacts
*.VC.db
*.VC.opendb
*.pidb

# NuGet
*.nupkg
packages/
project.lock.json
project.assets.json

# OS files
Thumbs.db
.DS_Store
obj/Debug/net9.0/Protos/Greet.cs
obj/Debug/net9.0/Protos/GreetGrpc.cs
obj/Debug/net9.0/stdiscm-PS3.AssemblyInfo.cs
obj/Debug/net9.0/stdiscm-PS3.AssemblyInfoInputs.cache
obj/Debug/net9.0/stdiscm-PS3.GeneratedMSBuildEditorConfig.editorconfig
